%similarProperties {
    padding: 10px 0;
    text-align: center;
    text-transform: capitalize;
}

$colour:#475357;
.job {
    width: calc(100% / 3);
    padding: 0 10px;
    .jobTitle {
        @extend %similarProperties;
        border-bottom: 2px solid #3DBCBE;
        font-size: 20px;
        color: $colour;
    }
    .jobShortInfoContainer {
        padding: 10px;
        .jobShortInfo {
            text-transform: capitalize;
            .infoLabel {
                font-size: 14px;
                color: #002327;
                line-height: 19px;
            }
            .infoValue {
                font-size: 14px;
                color: #78909C;
            }
        }
    }
    .siteName {
        @extend %similarProperties;
        font-size: 15px;
        color: $colour;
    }
}