$leftPaneWidth:212px;
$topBarHeight:72px;
.contentComponent {
    width: calc(100% - #{$leftPaneWidth});
    margin-top: $topBarHeight;
    overflow: auto;
    height: calc(100vh - #{$topBarHeight});
    .menuItem {
        text-transform: uppercase;
    }
    .entityTitle {
        margin-top: 15px;
        font-weight: bold;
    }
}