$commonBorder:1px solid #EAEEF8;
$paneWidth:212px;
$topBarHeight:72px;
.hamburgerMenu {
    width: $paneWidth;
    border: $commonBorder;
    height: 100vh;
    .logo {
        height: $topBarHeight;
        border-bottom: $commonBorder;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 3;
        width: $paneWidth;
        border-bottom: $commonBorder;
    }
    .menuItemContainer {
        margin-top: $topBarHeight;
        .menuItem {
            border-bottom: $commonBorder;
            min-height: 61px;
            .menuItemLink {
                padding: 20px 10px;
                width: 100%;
                color: #475357;
                .menuItemName {
                    font-family: OpenSans-SemiBold;
                    font-size: 14px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .menuItemIcon {
                    padding: 0 17px 0 8px;
                }
                &.active{
                    color: #94dadc;
                }
            }
        }
    }
}

.hamburgerMenu.hiddeMenu {
    width: 0;
    overflow: hidden;
    height: 0;
    border: 0;
    .logo {
        z-index: 0;
    }
}