$commonBorder:1px solid #EAEEF8;
$paneWidth:212px;
.hamburgerMenu {
    width: $paneWidth;
    border: $commonBorder;
    height: 100vh;
    .logo {
        height: 72px;
        border-bottom: $commonBorder;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 3;
        width: $paneWidth;
        border-bottom: $commonBorder;
    }
    .menuItemContainer {
        .menuItem {
            border-bottom: $commonBorder;
            padding: 10px;
            min-height: 61px;
            .menuItemName {
                font-family: OpenSans-SemiBold;
                font-size: 14px;
                color: #475357;
                font-weight: 500;
                text-transform: capitalize;
            }
            .menuItemIcon {
                padding: 0 17px 0 8px;
            }
        }
    }
}

.hamburgerMenu.hiddeMenu {
    width: 0;
    overflow: hidden;
    height: 0;
    border: 0;
    .logo{
        z-index: 0;
    }
}