$border:1px solid;
.commandBarContainer {
    padding-left: 72px;
    border-top: $border;
    border-bottom: $border;
    margin-top: 15px;
    .ms-CommandBar-primaryCommands.primaryCommands_b8e768e9 {
        margin-left: 11px;
    }
}