html,
body {
    margin: 0;
    padding: 0;
}

$width:100%;
$fLeft:left;
.cPanel {
    width: $width;
    float: $fLeft;
}

.pullLeft {
    float: $fLeft;
}

// Flexbox classes

.flexBox {
    display: flex;
    display: -webkit-flex;
}

.flexBox.vCenter {
    align-items: center;
}

.flexBox.hCenter {
    justify-content: center;
}