.breadcrumbs {
    margin-top: 15px;
    padding: 0 10px 0 82px;
    .ms-Breadcrumb-listItem {
        .ms-Link.ms-Breadcrumb-itemLink,
        .ms-Breadcrumb-item {
            font-size: 14px;
        }
        .ms-Breadcrumb-chevron {
            font-size: 8px;
        }
    }
    .ms-Breadcrumb-listItem:last-of-type {
        .ms-Breadcrumb-item {
            color: blue;
        }
    }
}